@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Nunito;
	outline: none;
}

body {
	background: #16171b;
}

.green-color {
	color: #01b075;
}

.green-background {
	background: #01b075;
}

.dark-color {
	color: #16171b;
}

.dark-background {
	background: #16171b;
}

.gray-color {
	color: #202125;
}

.gray-background {
	background: #202125;
}

a {
	color: #01b075;
	text-decoration: none;
}

.input {
	width: 100%;
	margin-top: 1rem;
}

.input label {
	display: block;
	color: #545557;
	font: bold 14px arial;
}

.input input {
	width: 100%;
	height: 40px;
	font: normal 16px arial;
	color: #16171b;
	border: 2px solid transparent;
	margin-top: 0.3rem;
	border-radius: 0.2rem;
	padding: 1rem;
}

.input input:focus {
	border: 2px solid #01b075;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #01b075;
	border: 0px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
	border-radius: 0.2rem;
	height: 40px;
	margin: 2rem auto 0rem auto;
	cursor: pointer;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	color: #fff;
}

button:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 15px rgba(27, 92, 44, 0.5);
}

button span {
	font: 700 16px Nunito;
	color: #fff;
	margin: 0;
}

/*
	Loader
*/
.loader {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
}

.loader div {
	position: absolute;
	top: 16.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
	left: 4px;
	animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
	left: 4px;
	animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
	left: 16px;
	animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
	left: 26px;
	animation: loader3 0.6s infinite;
}

@keyframes loader1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes loader3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes loader2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(12px, 0);
	}
}